<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HTML Settings -->
    <meta charset=utf-8"/>
    <meta name="description" content="A Template HTML">
    <meta name="author" content="Template Author">
    
    <!-- Page Title -->
    <title> {{ title }} </title>
    
    <!-- CSS imports -->
    
</head>
<body>
    <ul>
    {% for item in items %}
        <li> {{ escape(item) }} </li>
    {% end %}
    </ul>

    <!-- JS imports & code -->
    
    
    <script type="text/javascript"> 
    
    </script>

</body>
 </html>
